body {
	font-family: sans-serif;
}
.main {
	margin: 0 auto;
	width: 800px;
}
.pictures {
  display: inline-block;
  height: 50px;
  overflow: hidden;
  padding: 0 2px 1px;
}

.pictures img{
  height: 100%;
  width: auto;
}

.logo{
  height: 50px;
}


